# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Environment
.env

# Python
venv/
__pycache__/
*.pyc

# Database
database.db

# Images (optional - keep if you don't want uploaded images in GitHub)
# backend/images/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?