.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:2000;
}

.modal{
    background:white;
    width:90%;
    max-width:650px;
    border-radius:20px;
    padding:30px;
    text-align:center;
    position:relative;
    animation:popup .3s ease;
}

.modal img{
    width:250px;
    border-radius:15px;
    margin-bottom:20px;
}

.close-btn{
    position:absolute;
    right:20px;
    top:20px;
    border:none;
    background:none;
    font-size:24px;
    cursor:pointer;
}

.modal-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.modal-buttons button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#111827;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.modal-buttons button:hover{
    background:crimson;
}

@keyframes popup{

from{
transform:scale(.8);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}

@media(max-width:480px){

.modal{
padding:20px;
}

.modal img{
width:180px;
}

.modal-buttons{
flex-direction:column;
}

.modal-buttons button{
width:100%;
}

}
